<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728972505502-bbq7cstcu39vj79f6jtar35batd33t0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728972505502-bbq7cstcu39vj79f6jtar35batd33t0r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728972505502-85ee8ak25tvou5jhv4cgm8tdkfrdaj1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR4av7QcgcCMdjhb7sNCxe3DiefWwHXFY</string>
	<key>GCM_SENDER_ID</key>
	<string>728972505502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autolocksmith</string>
	<key>PROJECT_ID</key>
	<string>autolocksmith-d17a9</string>
	<key>STORAGE_BUCKET</key>
	<string>autolocksmith-d17a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728972505502:ios:319668de3310fbb443268f</string>
</dict>
</plist>