<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206479910613-5scbbbron1o9a9tt81taap3a9v6c70u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206479910613-5scbbbron1o9a9tt81taap3a9v6c70u5</string>
	<key>API_KEY</key>
	<string>AIzaSyCMa1C7yqvlMYS1fINDbhHCjEHKKlWYDys</string>
	<key>GCM_SENDER_ID</key>
	<string>206479910613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InteractiveNetwork.ratedlocksmith</string>
	<key>PROJECT_ID</key>
	<string>rated-locksmiths-3d2df</string>
	<key>STORAGE_BUCKET</key>
	<string>rated-locksmiths-3d2df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206479910613:ios:c2b99a8f0424203ca2245c</string>
</dict>
</plist>